head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  
  //- Responsive
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

  //- iOS
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="white")
  meta(name="apple-mobile-web-app-title", content="")
  
  //- Android
  meta(name="mobile-web-app-capable", content="yes")

  //- IE 10
  meta(name="msapplication-tap-highlight", content="no")

  //- FB
  meta(property="og:title", content="#{title}")
  meta(property="og:description", content="#{description}")
  meta(property="og:image", content="#{cover}")

  //- Twitter
  meta(property="twitter:card", content="summary")
  meta(property="twitter:site", content="#{twitter}")
  meta(property="twitter:title", content="#{title}")
  meta(property="twitter:description", content="#{description}")
  meta(property="twitter:image", content="#{cover}")

  //- SEO
  meta(name="description", content="#{description}")
  meta(name="keywords", content="#{keywords}")
  meta(name="author", content="#{author}")
  meta(name="robots", content="noindex nofollow")

  //- Icons
  link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
  link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
  link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
  link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
  link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
  link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
  link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
  link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
  link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
  link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
  link(rel="manifest", href="/manifest.json")
  link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#FFDF44")
  meta(name="msapplication-TileColor", content="#FFDF44")
  meta(name="msapplication-TileImage", content="/mstile-144x144.png")
  meta(name="theme-color", content="#FFDF44")

  title #{title}
  link(rel="stylesheet", href="css/style.css")
