head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  
  //- Responsive
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

  //- iOS
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="white")
  meta(name="apple-mobile-web-app-title", content="")
  
  //- Android
  meta(name="mobile-web-app-capable", content="yes")
  meta(name="theme-color", content="#FFDF44")

  //- IE 10
  meta(name="msapplication-tap-highlight", content="no")

  //- FB
  meta(property="og:title", content="#{title}")
  meta(property="og:description", content="#{description}")
  meta(property="og:image", content="#{cover}")

  //- Twitter
  meta(property="twitter:card", content="summary")
  meta(property="twitter:site", content="#{twitter}")
  meta(property="twitter:title", content="#{title}")
  meta(property="twitter:description", content="#{description}")
  meta(property="twitter:image", content="#{cover}")

  //- SEO
  meta(name="description", content="#{description}")
  meta(name="keywords", content="#{keywords}")
  meta(name="author", content="#{author}")
  meta(name="robots", content="noindex nofollow")

  title #{title}
  link(rel="stylesheet", href="css/style.css")
